<h1>PRODUCTS</h1>

{{#each listOfProducts}}
<div class="listOfProducts">
<h1>Product Name: {{name}}</h1>
<h1>Product ID: {{id}}</h1>
<h1>Price: {{price}}</h1>
<h1>Inventory: {{inventory}}</h1>
</div>
{{/each}}